<form method='get' class='col-md-8 mt-5 text-center' action="{% url 'search_results' %}">
    <h1 class="site-title">boogle</h1>
    <div>
        <input type='search' name="q" class='search form-control mt-5' placeholder='search book name'/>
    </div>
    <div class="d-flex justify-content-center">
        <button id="btn-search" class='btn btn-primary mt-3 border-0 text-center col-md-2' type='submit'>Search</button>
    </div>
</form>