{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block content %}
<div class='container col-md-4 pt-5'>
    <h2>Log In </h2>
    <form method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type='submit' class='btn btn-primary mt-2'>Log In</button>
    </form>
    <p>don't have an account yet <a href="{% url 'signup' %}" style='text-decoration:none'>Sign up </a></p>
</div>
{% endblock %}