{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block title %} <title>Reset password </title> {% endblock %}

{% block content %}
{% include 'nav.html' %}
  <div class='container col-md-4 pt-3'>
       <h2>Forgot your password ? </h2>
        <form method='POST'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class='btn btn-success mt-3' type='submit' value='send me instructions!'>
        </form>
  </div>
{% endblock %}