{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block title %}<title>Change password </title> {% endblock %}

{% block content %}
{% include 'nav.html' %}
<div class='container col-md-6 pt-3'>
    <h1>Password change</h1>
    <p>Please enter your old password, for security's sake and then enter your new password twice 
        so we can verify you typed it correctly </p>
    <form method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class='btn btn-success mt-3' type="submit" value='Change my password'>
    </form>
</div>
{% endblock %}