{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block title %} <title>Reset password </title> {% endblock %}
{% block content %}
{% include 'nav.html' %}
  <div class='container col-md-8 pt-3'>
       <h1>Check your inbox.</h1>
        <p>we've emailed you instructions for setting your password.
            You should receive the email shorty 
        </p>
  </div>
{% endblock %}