{% extends 'base.html' %}
{% block title %}<title>Password Change Sucessful</title>{% endblock %}
{% block content %}
  {% include 'nav.html' %}
   <div class='container mt-3'>
        <h1>Password Change sucessful</h1>
        <p>Your password was changed.</p>
   </div>
{% endblock %}