{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block title %} <title>Reset password </title> {% endblock %}

{% block content %}
  {% inlude 'nav.html' %}
  <div class='container col-md-8 pt-3'>
       <h1>Password reset complete</h1>
       <p>Your new password has been set. You can log in now on the 
           <a href="{% url 'login' %}">log in page</a>
       </p>
  </div>
{% endblock %}