{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block title %}<title>Enter new password {% endblock %}
{% block content %}
  <div class='container'>
      <h1>Set a new password</h1>
      <form method='POST'> 
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class='btn btn-sucess pt-3' type='submit' value='Change my password'>
      </form>
  </div>
{% endblock %}