{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-3">
    <h2>Edit book</h2>
    <form action="{% url 'book_edit' book.pk  %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary mt-3">Update</button>
    </form>
</div>
{% endblock %}