{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<style>
   
    .card{margin-right:15px;height:135px;}
    div.card-footer a {text-decoration:none;}
    .add-icon{font-size:30px;}
</style>
<div class="container pt-3">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="card-group">

            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-body text-center">
                 <h1>{{ book_list.count }}</h1>
                </div>
                <div class="card-footer text-center text-white">
                    <p> BOOK TOTAL</p>
                </div>
            </div>

            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
              
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="text-white">More info
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>
            </div>

              <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-body">
                
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="text-white">More info
                        <i class="fa-solid fa-circle-arrow-right text-dark "></i>
                    </a>
                </div>
              </div>

              <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-body">
                
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="text-white">More info
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>
              </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'book_new' %}" class="nav-link text-success">
           <i class="fa-solid fa-circle-plus add-icon"></i>
        </a>
    </div>
    <form class="col-md-4">
        <div>
           <input type='text' class='form-control mb-2' placeholder="search book">
           <input type='submit' value='search' class='btn btn-dark mb-2'>
        </div>
    </form>
    <table class="table table-dark table-striped">
        <thead class="thead-dark">
            <tr>
                <th>title</th>
                <th>author</th>
                <th>detail</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>

        <tbody>
            {% for book in object_list %}
            <tr>
                <td><a href="{% url 'book_detail' book.pk %}" class="link">{{ book.title }}</a></td>
                <td>
                    {% for author in book.author.all %}
                     <a href="{% url 'author_detail' author.pk %}" class="text-info">{{author.name}}</a>
                   <br>
                    {% endfor %}
                </td>
                <td><a href="{% url 'book_detail' book.pk %}" class="nav-link text-primary"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{% url 'book_edit' book.pk %}" class="nav-link text-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'book_delete' book.pk %}" class="nav-link text-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}