{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
{% load hitcount_tags %}
<style>
    tr, td, th{border:1px solid black}
    .table{width:310px;}
    .table a{font-size:14px}
    
</style>
<div class="container pt-3 mt-3">
    <div class="row">
        <div class="col-md-4">
            {% if book.image %}
                <img src="{{ book.image.url }}" class="img-thumbnail"/>
                  {% if review_list.count  %}
                    <p>Reviews</p>
                    <table class="table table-striped">
                        <tr>
                            <th>Title</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            {% for review in review_list %}
                            <td><a href="{{ review.get_absolute_url }}" class="nav-link">{{review.review_title | title}}</a></td>
                            <td>
                            {% if review.is_approved %}
                            <span>Approved </span>
                            {% else %}
                            <span>review rejected </span>
                            {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                    {% endif %}
            {% else %}
                <p> No image associated to this book <a href="{% url 'book_edit' book.pk %}">
                    add one
                </a>
                </p>
            {% endif %}
            {% if request.user.is_staff %}
            <p class=" mt-3"><a href="{% url 'book_edit' book.pk %}" class="link btn btn-info btn-sm">Edit</a> | 
                <a href="{% url 'book_delete' book.pk %}" class="link btn btn-danger btn-sm">Delete</a> |
                <a href="{% url 'books' %}" class="link btn btn-secondary btn-sm">All books</a>
            </p>
            {% endif%}
        </div>
        <div class="col-md-8">
            <h2>{{ book.title }}</h2>
            <p class="font-weight"> 
            by
            {% for author in book.author.all %}
            <a href="{{ author.get_absolute_url }}" class="link"><span>{{  author.name }}</span></a>
            {% endfor %}
            (Author)
            </p>
            <p>views: {{ hitcount.total_hits }}</p>
            <p>ISBN   : {{ book.isbn }}</p>
            <p>Category: 
                {% for cat in book.category.all %}
                <a href="{% url 'category_book' cat.pk %}" class="link"><span>{{ cat }}</span></a>
                {% endfor %}        
            </p>
            {% if not review_list.count  %}
            <p>Review : suggest review for this book<a href="" class="link">here</a></p>
            {% endif %}
          
            <p>Publised by: {{book.publisher}}</p>
            <p>Total pages: {{book.total_page}}</p>
            <p style="text-align:justify">{{ book.description }}</p>
            <h5 class="text-muted">{{ count }} comments</h5>
            <div class="container">
                <form method="POST" action="{% url 'add_comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ book.pk }}">
                    <input type="text"   name="content" class="col-md-12" id="comment-box" placeholder="add a comment..." required>
                    {% if messages %}
                    {% for error_message in messages %}
                    <small class="text-danger">{{ error_message }}</small>
                    {% endfor %}
                    {% endif %}
                    <div class=" d-flex justify-content-end pt-2 mb-2">
                        <input type="button" name="" value="cancel" id="btn-cancel-comment" class="btn-comment btn btn-danger btn-sm"> 
                        <input type="submit" name="" id="btn-add-comment" value="add comment" class="ms-2 btn-comment btn btn-primary btn-sm">
                    </div>
                </form>
            </div>
            <div class="" id="comment-container">
                {% for comment in comments %}
                <div>
                    <p><strong>{{ comment.user.username }}</strong> <span class="ms-2"><i>{{ comment.created_at }}</i></span></p>
                    <p>
                        {{ comment.content }} 
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}