{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="container pt-3 mt-1">
    <div class="row">
        <div class="col-md-10 mt-3 ps-5 ms-3">
            <h2>{{ author.name }}</h2>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    {% if author.biography %}
                    <p style="text-align:justify">{{ author.biography }}</p>
                    {% else %}
                    <p>No biography associated to this author
                       <a href="{% url 'author_edit' author.pk %}">add one</a>
                    </p>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <p><a href="{% url 'author_edit' author.pk %}" class="link btn btn-info btn-sm">Edit</a> | 
                        <a href="{% url 'author_delete' author.pk %}" class="link btn btn-danger btn-sm">Delete</a> |
                        <a href="{% url 'author_list' %}" class="link btn btn-secondary btn-sm">All authors</a> |
                        <a href="{% url 'author_book' author.pk %}" class="btn btn-secondary">books by the author</a>
                    </p>
                    {% else %}
                    <p><a href="{% url 'author_book' author.pk %}" class="btn btn-secondary">books by the author</a></p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if author.image %}
                    <img src="{{ author.image.url }}" class="img-thumbnail" style="max-width:15em"/>
                    {% else %}
                    <p>No image associated to this author 
                        <a href="{% url 'author_edit' author.pk %}" class="link">add image</a>
                    </p>  
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

{% endblock %}