{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-3">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'author_new' %}" class="btn btn-success">New Author</a>
    </div>
    <table class="table table-dark table-striped">
        <thead class="thead-dark">
            <tr>
               
                <th>Name</th>
                <th>Detail</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for author in object_list %}
            <tr>
                <td>{{ author.name }}</td>
                <td><a href="{% url 'author_detail' author.pk %}" class="nav-link text-primary"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{% url 'author_edit' author.pk %}" class="nav-link text-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'author_delete' author.pk %}" class="nav-link text-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}