.search{
      
    border-radius:15px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}
header{
  
    padding-top:10px;
}
#btn-search{background:black;}
.btn-login{margin-right:10px;}
.nav{padding:10px 30px 0px 0px}
.user-icon{font-size:23px;margin-right:10%}
h1.site-title{font-size:70px;margin-bottom:5px;color:brown}
.dropdown-icon{margin-right:7px}


/**************** Nav style ********************************/
table{border-spacing:30px}
td > a{text-decoration:none}
tr,td{border:none;margin-top:25px;}
.user-icon{font-size:23px;margin-right:10%}
.nav{padding:10px 30px 0px 0px}
.dropdown-icon{margin-right:5px}
.navbar-brand{color:orange;}
.link{text-decoration:none;margin:10px 5px 10px 5px}

.card{margin-right:15px;height:135px;}
div.card-footer a {text-decoration:none;}
.add-icon{font-size:30px;}

/******************* Comment form style **************************/
#comment-box{
    border:none;
    border-bottom: 1px solid gainsboro;
}
#comment-box:focus{
    outline:none;
    border-bottom:1px solid black;
}
.btn-comment{

    opacity: 0.8;
    display: none;
}
.btn-comment-style{
    opacity: 0.9;
    border:1px solid dodgerblue;
    background-color: dodgerblue;
    color:white;
}