{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <span>{{ category.category_name }}</span>
        </div>
        <div class="card-body">
            <p>Description</div>
        </div>
        <div class="card-footer text-center">
            <a class="link" href="{% url 'category_edit' category.pk %}">Edit</a> |<a href="{% url 'category_delete' category.pk %}" class="link">Delete</a>|<a href="{% url 'category_list' %}" class="link">All Categories</a>
        </div>
    </div>
</div>
{% endblock %}