{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-3">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'category_new' %}" class="btn btn-success">New Category</a>
    </div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">detail</th>
                <th scope="col">edit</th>
                <th scope="col">delete</th>
            </tr>
        </thead>

        <tbody>
            {% for category in object_list %}
            <tr>
                <td>{{ category.category_name }}</td>
                <td><a href="{% url 'category_detail' category.pk %}" class="nav-link text-primary"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{% url 'category_edit' category.pk %}" class="nav-link text-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'category_delete' category.pk %}" class="nav-link text-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}