{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-5">
    <h5 class="text-muted">
        <a href="#" class="link">
            {{ category.category_name | title}}
        </a>books
    </h5> 
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
        {% for book in book_category_list %}
        <div class="col">
            <div class="card border-0">
                <img src="{{ book.image.url }}" class="card-img-top" alt="..." style="max-width:10em;border:1px solid gainsboro;height:250px">
                <div class="card-body ms-0 ps-0">
                    <h6 class="card-title ps-0 ms-0">
                        <a href="{{ book.get_absolute_url }}" class="link ms-0 ps-0">
                            {{book.title | title}}
                        </a>
                    </h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}
