{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="container pt-3 mt-3">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ book.image.url }}" class="img-thumbnail"/>
        </div>
        <div class="col-md-8">
            <h2>{{ book.title }}</h2>
            <p class="font-weight"> 
            by
            {% for author in book.author.all %}
            <a href="{% url 'search_author_detail' author.pk %}" class="link"><span>{{  author.name }}</span></a>
            {% endfor %}
            (Author)
            </p>
            <p>isbn   : {{ book.isbn }}
            <p>category: 
                {% for cat in book.category.all %}
                <a href="#" class="link"><span>{{ cat }}</span></a>
                {% endfor %}        
            </p>
            <p>publised by: {{book.publisher}}</p>
            <p>Total pages: {{book.total_page}}</p>
            <p style="text-align:justify">{{ book.description }}</p>
            <hr>
           
        </div>
    </div>
</div>

{% endblock %}