{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="container pt-3 mt-1">
    <div class="row">
        <div class="col-md-10 mt-3 ps-5 ms-3">
            <h2>{{ author.name }}</h2>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    {% if author.biography %}
                    <p style="text-align:justify">{{ author.biography }}</p>
                    {% else %}
                    <p>No biography associated to this author
                    </p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if author.image %}
                    <img src="{{ author.image.url }}" class="img-thumbnail" style="max-width:15em"/>
                    {% else %}
                    <p>No image associated to this author 
                    </p>  
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

{% endblock %}