{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-5">
    <h2>Delete </h2>
    <p> Are you sure you want to delete " {{ review.review_title}} " </p>
    <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger ml-2" type="submit">Confirm</button>
        <a href="{% url 'review_edit' review.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}