{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<style>
    h5{margin-top:20px}
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ review.book.image.url }}" atl="" class="img-thumbnail">
        </div>
        <div class="col-md-8">
            <h3>{{ review.review_title | title }}</h3>
            <h5>Reviewd by :<a href="" class="link">{{review.user.username}}</a></h5>
            <h5>Book reviewed 
                <a href="{% url 'book_detail' review.book.pk %}" class="link"> {{review.book.title}}
                </a>
            </h5>
            <h5>Description</h5>
            <p>
                {{review.review_body}}
            </p>
            {% if request.user.is_staff %}
            <a href="{% url 'review_delete' review.pk %}" class="btn btn-danger link btn-sm">Delete</a>|<a href="{% url 'review_list' %}" class="btn btn-secondary btn-sm link">All reviews</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}