{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-3 mt-3">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'review_new' %}" class="btn btn-success">New Review</a>
    </div>
    <table class="table table-dark table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Review title</th>
                <th>Status</th>
                <th>Detail</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for review in object_list %}
            <tr>
                <td>{{ review.review_title }}</td>
                <td class="text-center">
                    {% if review.is_approved %}
                    <span>approved</span>
                    {% else %}
                    <span>pending</span>
                    {% endif %}
                </td>
                <td><a href="{% url 'review_detail' review.pk %}" class="nav-link text-primary"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{% url 'review_edit' review.pk %}" class="nav-link text-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'review_delete' review.pk %}" class="nav-link text-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}