{% extends 'base.html' %}
{% block title %} <title>Boogle | account settings </title> {% endblock %}

{% block content %}
<style>
    table{border-spacing:30px}
    td > a{text-decoration:none}
    tr,td{border:none;margin-top:25px;}
    .user-icon{font-size:23px;margin-right:10%}
    .nav{padding:10px 30px 0px 0px}
</style>
  {% include 'nav.html' %}
  <div class='container-fluid pt-5 ps-5'>
      <div class='row'>
        <h2>Your account </h2>
        <hr style='background-color:gainsboro'>
          <div class='col-md-12'>
              <table class='col-md-12 table'>
                  <tr style='margin-top:30px'>
                      <td style='margin-top:30px'>{{ user.email }}</td>
                      <td><a href="#" class='d-flex justify-content-end'>Change Email</td>
                  </tr>
                  <tr class=''>
                    <td>Password:******</td>
                    <td><a href="{% url 'password_change' %}" class='d-flex justify-content-end'>Change My password</td>
                  </tr>
                  <tr class='tr'>
                    <td>Name: {{ user.username}}</td>
                    <td><a href="#" class='d-flex justify-content-end '>Change Details</td>
                  </tr>
              </table>
          </div>
      </div>
      <div class='row pt-3'>
        <h2>Searching Hystory </h2>
        <hr style='background-color:gainsboro'>
        <div class='col-md-12'>
            <table class='col-md-12 table'>
                <tr style='margin-top:30px'>
                    <td style='margin-top:30px'>{{ user.email }}</td>
                    <td><a href="#" class='d-flex justify-content-end'>Change Email</td>
                </tr>
                <tr class=''>
                  <td>Password:******</td>
                  <td><a href="#" class='d-flex justify-content-end'>Change My password</td>
                </tr>
                <tr class='tr'>
                  <td>Name: {{ user.username}}</td>
                  <td><a href="#" class='d-flex justify-content-end '>Change Details</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
{% endblock %}