
<style>
    #dropdown{
      margin-top:25px;
      border-radius:0px;
      
    }
    .user-icon{padding:5px 5px 5px 5px;}
    .dropdown-item{color:black;font-size:18px;}
    .dropdown-icon{font-size:20px}
</style>


<div class='dropdown dropstart'>
    {% if user.is_authenticated %}
    <a class='user-icon text-white' id='dropdownMenuLink' data-bs-toggle="dropdown" aria-expanded="false" href='#'><i class="fa-solid fa-circle-user"></i></a>
    <ul class="dropdown-menu  bg-light border border-light" aria-labelledby="dropdownMenuLink" id="dropdown">
     <li class="nav-item">
         <a class="dropdown-item nav-link" href="{% url 'account' %}">
            <i class="fa-solid fa-gear dropdown-icon"></i>
            <span>Settings</span>
         </a>
     </li>
     {% if user.is_staff %}
      <li class="nav-item">
          <a class="dropdown-item nav-link" href="{% url 'books' %}">
             <i class="fa-solid text-dark   fa-gauge dropdown-icon"></i>
             <span>Dashboard</span>
          </a>
      </li>
     {% endif %}
     <li class="nav-item">
         <a class="dropdown-item nav-link" href="{% url 'logout' %}">
             <i class="fa-solid text-dark fa-arrow-right-from-bracket dropdown-icon"></i> 
             <span>Logout</span>
         </a>
     </li>
     
   </ul>
</div>

{% else %}
<a class='btn btn-dark btn-sm btn-login' href="{% url 'login' %}">Sign in</a>
{% endif %}

