{% extends 'base.html' %}
{% load search_tags %}
{% block content %}
{% if user.is_authenticated %}
  <nav class='navbar navbar-expand-lg navbar-white justify-content-end pt-3'>
    <div class='dropdown dropstart' style="margin-right:10%">
        <a class='user-icon text-dark' id='dropdownMenuLink' data-bs-toggle="dropdown" aria-expanded="false" href='#'><i class="fa-solid fa-circle-user"></i></a>
        <ul class="dropdown-menu  bg-dark border border-light" aria-labelledby="dropdownMenuLink" id="dropdown">
         <li class="nav-item">
             <a class="dropdown-item nav-link" href="{% url 'account' %}">
                <i class="fa-solid fa-gear dropdown-icon"></i>
                <span>Settings</span>
             </a>
         </li>
         {% if user.is_staff %}
          <li class="nav-item">
              <a class="dropdown-item nav-link" href="{% url 'books' %}">
                 <i class="fa-solid   fa-gauge dropdown-icon"></i>
                 <span>Dashboard</span>
              </a>
          </li>
         {% endif %}
         <li class="nav-item">
             <a class="dropdown-item nav-link" href="{% url 'logout' %}">
                 <i class="fa-solid fa-arrow-right-from-bracket dropdown-icon"></i> 
                 <span>Logout</span>
             </a>
         </li>
       </ul>
    </div>
    {% else %}
    <div class="container d-flex justify-content-end pt-3">
        <a class='btn btn-dark btn-sm btn-login' href="{% url 'login' %}">Sign in</a>
    </div>
    {% endif %}
</nav>
<div class='container-fluid pt-2'>
    <div class="d-flex justify-content-center">
        {% search_box request %}
    </div>
</div>
{% endblock %}