
<nav class="navbar navbar-expand-lg navbar-white bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Boogle</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_staff %}
            <li class='nav-item'>
              <a class="nav-link text-white" href="{% url 'books' %}">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'category_list' %}">Categories</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-white" href="{% url 'author_list' %}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'publisher_list' %}">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'review_list' %}">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'comment_list' %}">Comments</a>
            </li>
            {% endif %}
        </ul>
      </div>
      {% include 'dropdown.html' %}
      </div>
    </div>
  </nav>