{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
  <nav class='navbar navbar-expand-lg navbar-white justify-content-end pt-3'>
    <div class='dropdown dropstart' style="margin-right:10%">
        <a class='user-icon text-dark' id='dropdownMenuLink' data-bs-toggle="dropdown" aria-expanded="false" href='#'><i class="fa-solid fa-circle-user"></i></a>
        <ul class="dropdown-menu  bg-dark border border-light" aria-labelledby="dropdownMenuLink" id="dropdown">
         <li class="nav-item">
             <a class="dropdown-item nav-link" href="{% url 'account' %}">
                <i class="fa-solid fa-gear dropdown-icon"></i>
                <span>Settings</span>
             </a>
         </li>
         {% if user.is_staff %}
          <li class="nav-item">
              <a class="dropdown-item nav-link" href="{% url 'books' %}">
                 <i class="fa-solid   fa-gauge dropdown-icon"></i>
                 <span>Dashboard</span>
              </a>
          </li>
         {% endif %}
         <li class="nav-item">
             <a class="dropdown-item nav-link" href="{% url 'logout' %}">
                 <i class="fa-solid fa-arrow-right-from-bracket dropdown-icon"></i> 
                 <span>Logout</span>
             </a>
         </li>
       </ul>
    </div>
    {% else %}
    <div class="container d-flex justify-content-end pt-3">
        <a class='btn btn-dark btn-sm btn-login' href="{% url 'login' %}">Sign in</a>
    </div>
    {% endif %}
</nav>
<div class='container-fluid '>
    <div class="">
        <div class="col-md-8 container">
            <form method='get' class='' action="{% url 'search_results' %}">
                <h1 class="site-title">boogle</h1>
                <div>
                    <input type='search' name="q" value="{{q}}" class='search form-control' placeholder='search book name'/>
                </div>
                <div>
                    <button id="btn-search" class='btn btn-primary mt-3 border-0' type='submit'>Search</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="col-md-8 container mt-3">
           <!--- When no book matching search term is found -->
           {% if not count %}
           <h5 class="text-muted">Sorry we could no find any book matching <span class="text-info">{{q}}</span></h5>
           
           {% else %}

           <!-- When there are books matching search term -->
           {% for book in book_list %}
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{book.image.url}}" class="rounded float-left img-thumbnail" style="max-width:12em">
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'book_detail' book.pk %}" class="link ms-0">{{ book.title }}</a>
                        <p> author :
                            {% for author in book.author.all %}
                                <a href="{% url 'search_author_detail' author.pk %}" class="link">
                                    <span>{{ author.name }}</span>,
                                </a>
                            {% endfor %}
                        </p>
                        <p style="text-align:justify">{{ book.description| truncatewords:60}} </p>
                        <a href="{% url  'book_detail' book.pk %}" class="link ms-0">Read more</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <!-- we displayed all matching books -->
              <!--- pagination -->
              <ul class="pagination">
                {% if book_list.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link"></a></li>
                {% endif %}
                    <li class="page-item"><a href="" class="page-link">Page {{book_list.number}} of {{book_list.paginator.num_pages}}</a>
                {% if book_list.has_next %}
                    {% for i in nums %}
                        <li class="page-item"><a href="?page={{forloop.counter}}" class="page-link">{{forloop.counter}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <!-- end pagination -->
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}