{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}

{% block title %}Sign up {% endblock %}
{% block content %}

<div class='container col-md-4 ps-0'>
    <h2>Sign up for a new account </h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class='btn btn-primary' type='submit'>Sign up</button>
    </form>
    <p>already have an account <a href="{% url 'login' %}" style='text-decoration:none'>Sign in</a></p>
</div>

{% endblock %}
