{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <span> Comment </span>
        </div>
        <div class="card-body">
            <p>comment author: {{ comment.user.username }} </p>
            <p>content : {{ comment.content }}</p>
            <p>book : {{ comment.book.title }} </p>
            <p>Creat at: {{ comment.created_at }} </P>
        </div>
        <div class="card-footer text-center">
         <a href="{% url 'comment_delete' comment.pk %}" class="link">Delete</a>|<a href="{% url 'comment_list' %}" class="link">All Comments</a>
        </div>
    </div>
</div>
{% endblock %}