{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-5">
    <h2>Delete </h2>
    <p> Are you sure you want to delete " {{ comment.content }} " </p>
    <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger ml-2" type="submit">Confirm</button> 
    </form>
</div>
{% endblock %}