{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-3 mt-5">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'comment_new' %}" class="btn btn-success">New Comment</a>
    </div>
    <table class="table table-dark table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Content</th>
                <th>Detail</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for comment in object_list %}
            <tr>
                <td>{{ comment.user.username }}</td>
                <td>{{ comment.user.email }} </td>
                <td>{{ comment.content | truncatewords:10 }}</td>
                <td><a href="{% url 'comment_detail' comment.pk %}" class="nav-link text-primary"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{% url 'comment_delete' comment.pk %}" class="nav-link text-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}