{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <span>user detail</span>
        </div>
        <div class="card-body">
            <p>username: {{ customuser.username }}</p>
            <p>email :{{ customuser.email}} </p>
            <p>date joined: {{ customuser.date_joined }}</p> 
        </div>
            
        </div>
        <div class="card-footer text-center">
            <a class="link" href="{% url 'user_edit' customuser.pk %}">Edit</a> |<a href="{% url 'user_delete' customuser.pk %}" class="link">Delete</a>|<a href="{% url 'user_list' %}" class="link">All Categories</a>
        </div>
    </div>
</div>
{% endblock %}