{% extends 'base.html' %}
{% block content %}
<style>
   
    .card{margin-right:15px;height:135px;}
    div.card-footer a {text-decoration:none;}
    .add-icon{font-size:30px;}
</style>
{% include 'nav.html' %}
<div class="container pt-3 mt-3">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="card-group">

            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-body">
                
                </div>
                <div class="card-footer text-center text-white">
                    <a href="#" class="text-white">
                        More info <i class="fa-solid fa-circle-arrow-right"></i>    
                    </a>
                </div>
            </div>

            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
              
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="text-white">More info
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>
            </div>

              <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-body">
                
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="text-white">More info
                        <i class="fa-solid fa-circle-arrow-right text-dark "></i>
                    </a>
                </div>
              </div>

              <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-body">
                
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="text-white">More info
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>
              </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'user_new' %}" class="nav-link text-success">
           <i class="fa-solid fa-circle-plus add-icon"></i>
        </a>
    </div>
    <table class="table table-dark table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Detail</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for customUser in object_list %}
            <tr>
                <td>{{ customUser.username }}</td>
                <td>{{ customUser.email }}</td>
                <td><a href="{% url 'user_detail' customUser.pk %}" class="nav-link text-primary"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{% url 'user_edit' customUser.pk %}" class="nav-link text-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'user_delete' customUser.pk %}" class="nav-link text-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}