{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block content %}
{% include 'nav.html' %}
<div class="container mt-5 col-md-6">
    <h2>Edit User</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        <button type="submit" class="btn btn-success mt-3">Save changes</button>
    </form>
</div>
{% endblock %}