{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-3">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'publisher_new' %}" class="btn btn-success">New Publisher</a>
    </div>
    <table class="table table-dark table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Publisher Name</th>
                <th>Detail</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher in object_list %}
            <tr>
                <td>{{ publisher.publisher_name }}</td>
                <td><a href="{% url 'publisher_detail' publisher.pk %}" class="nav-link text-primary"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{% url 'publisher_edit' publisher.pk %}" class="nav-link text-success"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'publisher_delete' publisher.pk %}" class="nav-link text-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}