{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <span>{{ publisher.publisher_name }}</span>
        </div>
        <div class="card-body">
            <p>Description</div>
        </div>
        <div class="card-footer text-center">
            <a class="link" href="{% url 'publisher_edit' publisher.pk %}">Edit</a> |<a href="{% url 'publisher_delete' publisher.pk %}" class="link">Delete</a>|<a href="{% url 'publisher_list' %}" class="link">All Categories</a>
        </div>
    </div>
</div>
{% endblock %}