{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block content %}
{% include 'nav.html' %}
<div class="container pt-3 col-md-8 mb-3">
    <div class="d-flex justify-content-end">
        <a href="{% url 'category_list' %}" class="nav-link">All Publisher </a>
    </div>
  <h2> New Publisher </h2>
  <form method="POST" action="">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success ml-2 mt-3">Save</button> 
  </form>
</div>
{% endblock %}